@use './vars.scss' as *;

h1 {
	font-family: var(--font-signifier);
	font-size: 2.5rem;
	font-weight: 200;
	line-height: 1;
	margin: 0;
}

h2 {
	font-family: var(--font-signifier);
	font-weight: 200;
}

h3 {
	font-family: var(--font-signifier);
	font-weight: 200;
}

h6 {
	font-size: 1rem;
	font-family: var(--font-pitch-sans);
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.5;
}

p {
	font-size: 1.125rem;
	line-height: 1.5;
	margin: 0;

	@mixin medium-break {
		font-size: 1rem;
	}
}

a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.0625em;
	color: var(--color-accent);
}
